* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Segoe UI', Arial;
    overflow: hidden;
}

main {
    height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.booster-container {
    position: relative;
    width: 300px;
    border-radius: 5px;
    margin: 30px;
    display: flex;
    flex-direction: column;

    .top-border,
    .bottom-border {
        /* background-color: #AD6BDB; */
        background-color: #678b36;
    }

    .cut-container {
        display: flex;
        flex-direction: column;
        box-shadow: 0 0 10px #cacaca;

        .cut-line {
            background-color: #38EFF3;
            height: 5px;
            border-top: 5px solid #fff;
        }
    }

    .uncutting-container {
        display: flex;
        flex-direction: column;
        height: 475px;
        border-top: 5px solid #fff;
        box-shadow: 0 0 10px #cacaca;
    }

    .top-border {
        height: 75px;
    }

    .center-body {
        flex: 1;
        position: relative;

        .cover {
            width: 100%;
            height: 100%;
            pointer-events: none;

        }

        .cover.shrek {
            /* background: url('./assets/img/shrek.webp') no-repeat center/cover; */
        }
    }

    .shadow {
        position: absolute;
        width: 100%;
        height: 100%;
        box-shadow: inset 0px -10px 20px 0 #000000b3;
        top: 0;
        left: 0;
    }

    .bottom-border {
        height: 20px;
    }
}

.booster-container.cutted {

    .cut-container {
        animation: throw-to-top-right 1s ease-in-out forwards;
    }
}

img::selection {
    background: transparent;
}

/* Animation pour jeter l'élément */
@keyframes throw-to-top-right {
    0% {
        transform: translate(0, 0) rotate(0deg);
        /* Position initiale */
        opacity: 1;
        /* Entièrement visible */
    }

    50% {
        transform: translate(50vw, -20vh) rotate(15deg);
        /* Milieu du mouvement */
        opacity: 0.8;
        /* Légèrement transparent */
    }

    100% {
        transform: translate(100vw, -100vh) rotate(45deg);
        opacity: 0;
    }
}