* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Segoe UI', Arial, serif;
    overflow: hidden;
}

main {
    height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.opening-container {
    margin: 30px;
    position: relative;

    .booster-container {
        position: relative;
        z-index: 2;
        width: 300px;
        border-radius: 5px;
        display: flex;
        flex-direction: column;

        .top-border,
        .bottom-border {
            /* background-color: #AD6BDB; */
            background-color: #678b36;
        }

        .cut-container {
            display: flex;
            flex-direction: column;
            box-shadow: 0 0 10px #cacaca;

            .cut-line {
                background-color: #38eff3;
                height: 5px;
                border-top: 5px solid #fff;
            }
        }

        .uncutting-container {
            display: flex;
            flex-direction: column;
            height: 475px;
            border-top: 5px solid #fff;
            box-shadow: 0 0 10px #cacaca;
        }

        .top-border {
            height: 75px;
        }

        .center-body {
            flex: 1;
            position: relative;

            .cover {
                width: 100%;
                height: 100%;
                pointer-events: none;
            }

            .cover.shrek {
                background: url('./assets/img/shrek.webp') no-repeat center / cover;
            }
        }

        .shadow {
            position: absolute;
            width: 100%;
            height: 100%;
            box-shadow: inset 0px -10px 20px 0 #000000b3;
            top: 0;
            left: 0;
        }

        .bottom-border {
            height: 20px;
        }
    }

    .cards-container {
        position: absolute;
        z-index: 1;
        top: 90px;

        .card {
            position: absolute;
            display: flex;
            flex-direction: column;
            height: 430px;
            width: 276px;
            border-radius: 15px;
            border: 12px solid #ffe167;
            background-color: white;
            box-shadow: 0 0 5px #cacaca;

            .card-header {
                padding-inline: 10px;

                .card-name {
                    font-weight: bold;
                    padding-top: 2px;
                }
            }

            .card-illustration {
                margin: 5px 10px;
                border: 2px solid #c9c8c6;
                height: 150px;
                display: flex;
                justify-content: center;
            }

            .card-illustration img {
                height: 100%;
            }

            .card-body {
                margin: 10px;
            }
        }

        .card.clicked {
            transition: 0.2s;
            transform: translateX(100vw);
        }
    }
}

.booster-container.cutted {
    animation: throw-booster 1s ease-in-out forwards 1s;

    .cut-container {
        animation: throw-to-top-right 1s ease-in-out forwards;
    }
}

/* Animation pour jeter l'élément */
@keyframes throw-to-top-right {
    0% {
        transform: translate(0, 0) rotate(0deg);
        opacity: 1;
    }

    50% {
        transform: translate(50vw, -20vh) rotate(15deg);
        opacity: 0.8;
    }

    100% {
        transform: translate(100vw, -100vh) rotate(45deg);
        opacity: 0;
    }
}

@keyframes throw-booster {
    0% {
        transform: translate(0, 0);
        opacity: 1;
    }

    100% {
        transform: translate(0, 150vh);
        opacity: 0;
    }
}

img::selection {
    background: transparent;
}