* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Segoe UI', Arial, serif;
	overflow: hidden;
}

main {
	height: 100dvh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.opening-container {
	margin: 30px;
	position: relative;

	.booster-container {
		position: relative;
		z-index: 2;
		width: 300px;
		border-radius: 5px;
		display: flex;
		flex-direction: column;

		.top-border,
		.bottom-border {
			/* background-color: #AD6BDB; */
			background-color: #678b36;
		}

		.cut-container {
			display: flex;
			flex-direction: column;
			box-shadow: 0 0 10px #cacaca;

			.cut-line {
				background-color: #38eff3;
				height: 5px;
				border-top: 5px solid #fff;
			}
		}

		.uncutting-container {
			display: flex;
			flex-direction: column;
			height: 475px;
			border-top: 5px solid #fff;
			box-shadow: 0 0 10px #cacaca;
		}

		.top-border {
			height: 75px;
		}

		.center-body {
			flex: 1;
			position: relative;

			.cover {
				width: 100%;
				height: 100%;
				pointer-events: none;
			}

			.cover.shrek {
				background: url('./assets/img/shrek.webp') no-repeat center / cover;
			}
		}

		.shadow {
			position: absolute;
			width: 100%;
			height: 100%;
			box-shadow: inset 0px -10px 20px 0 #000000b3;
			top: 0;
			left: 0;
		}

		.bottom-border {
			height: 20px;
		}
	}

	.cards-container {
		position: absolute;
		z-index: 1;
		top: 90px;

		.card {
			position: absolute;
			display: flex;
			flex-direction: column;
			height: 430px;
			width: 276px;
			border-radius: 15px;
			border: 12px solid #ffe167;
			background-color: white;
			box-shadow: 0 0 5px #cacaca;

			.card-header {
				padding-inline: 10px;

				.card-name {
					font-weight: bold;
					padding-top: 2px;
				}
			}

			.card-illustration {
				margin: 5px 10px;
				border: 2px solid #c9c8c6;
				background-color: #fff;
				height: 150px;
				display: flex;
				justify-content: center;
			}

			.card-illustration img {
				height: 100%;
			}

			.card-body {
				margin: 10px;
			}
		}

		.card.clicked {
			transition: 0.2s;
			transform: translateX(100vw);
		}

		.card.type-normal {
			background: linear-gradient(
				to right,
				#e0dcd9 0%,
				#f1f2eb 30%,
				#f1f2eb 70%,
				#e0dcd9 100%
			);
		}

		.card.type-fire {
			background: linear-gradient(
				to right,
				#e39f6d 0%,
				#f08030 30%,
				#f08030 70%,
				#e39f6d 100%
			);
		}

		.card.type-water {
			background: linear-gradient(
				to right,
				#8cd6f7 0%,
				#4fc0ef 30%,
				#4fc0ef 70%,
				#8cd6f7 100%
			);
		}

		.card.type-grass {
			background: linear-gradient(
				to right,
				#cedf42 0%,
				#78c850 30%,
				#78c850 70%,
				#cedf42 100%
			);
		}

		.card.type-electric {
			background: linear-gradient(
				to right,
				#eba629 0%,
				#f8d030 30%,
				#f8d030 70%,
				#eba629 100%
			);
		}

		.card.type-ice {
			background: linear-gradient(
				to right,
				#c5f3f3 0%,
				#98d8d8 30%,
				#98d8d8 70%,
				#c5f3f3 100%
			);
		}

		.card.type-fighting {
			background: linear-gradient(
				to right,
				#dd5f59 0%,
				#d68231 30%,
				#d68231 70%,
				#dd5f59 100%
			);
		}

		.card.type-poison {
			background: linear-gradient(
				to right,
				#ca8aaf 0%,
				#8d528b 30%,
				#8d528b 70%,
				#ca8aaf 100%
			);
		}

		.card.type-ground {
			background: linear-gradient(
				to right,
				#dd5f59 0%,
				#d68231 30%,
				#d68231 70%,
				#dd5f59 100%
			);
		}

		.card.type-flying {
			background: linear-gradient(
				to right,
				#e0dcd9 0%,
				#f1f2eb 30%,
				#f1f2eb 70%,
				#e0dcd9 100%
			);
		}

		.card.type-psychic {
			background: linear-gradient(
				to right,
				#ca8aaf 0%,
				#8d528b 30%,
				#8d528b 70%,
				#ca8aaf 100%
			);
		}

		.card.type-bug {
			background: linear-gradient(
				to right,
				#cedf42 0%,
				#78c850 30%,
				#78c850 70%,
				#cedf42 100%
			);
		}

		.card.type-rock {
			background: linear-gradient(
				to right,
				#dd5f59 0%,
				#d68231 30%,
				#d68231 70%,
				#dd5f59 100%
			);
		}

		.card.type-ghost {
			background: linear-gradient(
				to right,
				#bd7fb8 0%,
				#a76aac 30%,
				#a76aac 70%,
				#bd7fb8 100%
			);
		}

		.card.type-dragon {
			background: linear-gradient(
				to right,
				#d3b33b 0%,
				#d2973a 30%,
				#d2973a 70%,
				#d3b33b 100%
			);
		}

		.card.type-dark {
			background: linear-gradient(
				to right,
				#2a5f66 0%,
				#00201b 30%,
				#00201b 70%,
				#2a5f66 100%
			);
		}

		.card.type-steel {
			background: linear-gradient(
				to right,
				#d1dde2 0%,
				#a4b5b7 30%,
				#a4b5b7 70%,
				#d1dde2 100%
			);
		}

		.card.type-fairy {
			background: linear-gradient(
				to right,
				#e35c8b 0%,
				#9e1638 30%,
				#9e1638 70%,
				#e35c8b 100%
			);
		}
	}
}

.booster-container.cutted {
	animation: throw-booster 1s ease-in-out forwards 1s;

	.cut-container {
		animation: throw-to-top-right 1s ease-in-out forwards;
	}
}

/* Animation pour jeter l'élément */
@keyframes throw-to-top-right {
	0% {
		transform: translate(0, 0) rotate(0deg);
		opacity: 1;
	}

	50% {
		transform: translate(50vw, -20vh) rotate(15deg);
		opacity: 0.8;
	}

	100% {
		transform: translate(100vw, -100vh) rotate(45deg);
		opacity: 0;
	}
}

@keyframes throw-booster {
	0% {
		transform: translate(0, 0);
		opacity: 1;
	}

	100% {
		transform: translate(0, 150vh);
		opacity: 0;
	}
}

img::selection {
	background: transparent;
}
