@import '../../assets/styles/all-imports.less';

.card {
    position: absolute;
    display: flex;
    flex-direction: column;
    height: @card-height;
    width: @card-width;
    background-color: @card-default-background-color;
    box-shadow: @card-box-shadow;
    border-radius: @card-border-radius;
    padding: @card-border-border-width;
    background: @card-default-border-color;

    .card-inner {
        border-radius: calc(@card-border-radius / 2);
        height: 100%;

        .card-header {
            padding-inline: 10px;

            .card-name {
                font-weight: bold;
                padding-top: 2px;
            }
        }

        .card-illustration {
            margin: 5px 10px;
            border: @card-illustration-border;
            background-color: @card-illustration-background-color;
            height: @card-illustration-height;
            display: flex;
            justify-content: center;
        }

        .card-illustration img {
            height: 100%;
        }

        .card-body {
            margin: 10px;
        }
    }

    .card-rarity {
        position: absolute;
        left: 15px;
        bottom: 15px;
        font-size: 12px;
    }

    &.clicked {
        transition: 0.2s;
        transform: translateX(100vw);
    }

    &.rarity-3 {
        background: linear-gradient(45deg, #b1b1b1 5%, #fff 10%, #ccc 30%, #ddd 50%, #ccc 70%, #fff 80%, #b1b1b1 95%)
    }

    &.rarity-4 {
        background: linear-gradient(45deg,
                rgba(255, 0, 0, 1) 0%,
                rgba(255, 154, 0, 1) 10%,
                rgba(208, 222, 33, 1) 20%,
                rgba(79, 220, 74, 1) 30%,
                rgba(63, 218, 216, 1) 40%,
                rgba(47, 201, 226, 1) 50%,
                rgba(28, 127, 238, 1) 60%,
                rgba(95, 21, 242, 1) 70%,
                rgba(186, 12, 248, 1) 80%,
                rgba(251, 7, 217, 1) 90%,
                rgba(255, 0, 0, 1) 100%);
    }

    &.rarity-5 {
        background: linear-gradient(0deg, #7f410d, #ffc28f, #8fff9d, #71cf0a);
    }

    &.type-normal {
        .card-background(@card-background-type-normal-primary, @card-background-type-normal-secondary);
    }

    &.type-fire {
        .card-background(@card-background-type-fire-primary, @card-background-type-fire-secondary);
    }

    &.type-water {
        .card-background(@card-background-type-water-primary, @card-background-type-water-secondary);
    }

    &.type-grass {
        .card-background(@card-background-type-grass-primary, @card-background-type-grass-secondary);
    }

    &.type-electric {
        .card-background(@card-background-type-electric-primary, @card-background-type-electric-secondary);
    }

    &.type-ice {
        .card-background(@card-background-type-ice-primary, @card-background-type-ice-secondary);
    }

    &.type-fighting {
        .card-background(@card-background-type-fighting-primary, @card-background-type-fighting-secondary);
    }

    &.type-poison {
        .card-background(@card-background-type-poison-primary, @card-background-type-poison-secondary);
    }

    &.type-ground {
        .card-background(@card-background-type-ground-primary, @card-background-type-ground-secondary);
    }

    &.type-flying {
        .card-background(@card-background-type-flying-primary, @card-background-type-flying-secondary);
    }

    &.type-psychic {
        .card-background(@card-background-type-psychic-primary, @card-background-type-psychic-secondary);
    }

    &.type-bug {
        .card-background(@card-background-type-bug-primary, @card-background-type-bug-secondary);
    }

    &.type-rock {
        .card-background(@card-background-type-rock-primary, @card-background-type-rock-secondary);
    }

    &.type-ghost {
        .card-background(@card-background-type-ghost-primary, @card-background-type-ghost-secondary);
    }

    &.type-dragon {
        .card-background(@card-background-type-dragon-primary, @card-background-type-dragon-secondary);
    }

    &.type-dark {
        .card-background(@card-background-type-dark-primary, @card-background-type-dark-secondary);
    }

    &.type-steel {
        .card-background(@card-background-type-steel-primary, @card-background-type-steel-secondary);
    }

    &.type-fairy {
        .card-background(@card-background-type-fairy-primary, @card-background-type-fairy-secondary);
    }
}