@import '../../assets/styles/all-imports.less';

.card {
    position: absolute;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: @card-height;
    width: @card-width;
    background-color: @card-default-background-color;
    box-shadow: @card-box-shadow;
    border-radius: @card-border-radius;
    padding: @card-border-border-width;
    background: @card-default-border-color;

    .card-inner {
        border-radius: calc(@card-border-radius / 2);
        height: 100%;

        .card-header {
            padding-inline: 10px;
            position: relative;
            z-index: 10;

            .card-name {
                font-weight: bold;
                padding-top: 2px;
            }
        }

        .card-illustration {
            margin: 5px 10px;
            border: @card-illustration-border;
            background-color: @card-illustration-background-color;
            height: @card-illustration-height;
            display: flex;
            justify-content: center;
        }

        .card-illustration img {
            height: 100%;
        }

        .card-body {
            margin: 10px;
        }
    }

    .card-rarity {
        position: absolute;
        left: 15px;
        bottom: 15px;
        font-size: 12px;
    }

    &.clicked {
        transition: 0.2s;
        transform: translateX(100vw);
    }

    &.rarity-3 {
        background: linear-gradient(45deg, #b1b1b1 5%, #fff 10%, #ccc 30%, #ddd 50%, #ccc 70%, #fff 80%, #b1b1b1 95%)
    }

    &.rarity-4 {
        background: linear-gradient(45deg,
                rgba(255, 0, 0, 1) 0%,
                rgba(255, 154, 0, 1) 10%,
                rgba(208, 222, 33, 1) 20%,
                rgba(79, 220, 74, 1) 30%,
                rgba(63, 218, 216, 1) 40%,
                rgba(47, 201, 226, 1) 50%,
                rgba(28, 127, 238, 1) 60%,
                rgba(95, 21, 242, 1) 70%,
                rgba(186, 12, 248, 1) 80%,
                rgba(251, 7, 217, 1) 90%,
                rgba(255, 0, 0, 1) 100%);

        .card-name::after {
            content: 'ex';
            font-weight: bold;
            padding-left: 5px;
            color: #ffff0b;
            font-style: italic;
        }
    }

    &.rarity-5 {
        background: linear-gradient(0deg, #7f410d, #ffc28f, #8fff9d, #71cf0a);
    }

    &.type-normal {
        .card-background(@card-background-type-normal-primary, @card-background-type-normal-secondary);
    }

    &.type-fire {
        .card-background(@card-background-type-fire-primary, @card-background-type-fire-secondary);
    }

    &.type-water {
        .card-background(@card-background-type-water-primary, @card-background-type-water-secondary);
    }

    &.type-grass {
        .card-background(@card-background-type-grass-primary, @card-background-type-grass-secondary);
    }

    &.type-electric {
        .card-background(@card-background-type-electric-primary, @card-background-type-electric-secondary);
    }

    &.type-ice {
        .card-background(@card-background-type-ice-primary, @card-background-type-ice-secondary);
    }

    &.type-fighting {
        .card-background(@card-background-type-fighting-primary, @card-background-type-fighting-secondary);
    }

    &.type-poison {
        .card-background(@card-background-type-poison-primary, @card-background-type-poison-secondary);
    }

    &.type-ground {
        .card-background(@card-background-type-ground-primary, @card-background-type-ground-secondary);
    }

    &.type-flying {
        .card-background(@card-background-type-flying-primary, @card-background-type-flying-secondary);
    }

    &.type-psychic {
        .card-background(@card-background-type-psychic-primary, @card-background-type-psychic-secondary);
    }

    &.type-bug {
        .card-background(@card-background-type-bug-primary, @card-background-type-bug-secondary);
    }

    &.type-rock {
        .card-background(@card-background-type-rock-primary, @card-background-type-rock-secondary);
    }

    &.type-ghost {
        .card-background(@card-background-type-ghost-primary, @card-background-type-ghost-secondary);
    }

    &.type-dragon {
        .card-background(@card-background-type-dragon-primary, @card-background-type-dragon-secondary);
    }

    &.type-dark {
        .card-background(@card-background-type-dark-primary, @card-background-type-dark-secondary);
    }

    &.type-steel {
        .card-background(@card-background-type-steel-primary, @card-background-type-steel-secondary);
    }

    &.type-fairy {
        .card-background(@card-background-type-fairy-primary, @card-background-type-fairy-secondary);
    }

    &.index-0 {
        z-index: 10;
    }

    &.index-1 {
        z-index: 9;
    }

    &.index-2 {
        z-index: 8;
    }

    &.index-3 {
        z-index: 7;
    }

    &.index-4 {
        z-index: 6;
    }

    /**
     * Cartes spéciales
     */

    &.rarity-4,
    &.rarity-5 {
        color: white;
        text-shadow: 0 0 5px black;

        .card-inner {
            position: relative;
            background: linear-gradient(45deg, #1d7097 0%, #f8f8f8 45%, #e07f00 85%) !important;

            .card-illustration {
                border: none;
                background-color: transparent;

                img {
                    filter: drop-shadow(3px 3px 2px #454545cb);
                }
            }

            .card-body {
                position: absolute;
                z-index: 10;
            }
        }
    }

    // CHARIZARD - 6
    &.card-0 {
        .card-inner {
            background: linear-gradient(45deg, #965a00 0%, #50ca0a 85%) !important;

            .card-illustration img {
                height: 500px;
                position: absolute;
                top: -25px;
                right: -113px;
            }
        }
    }

    // CHARIZARD - 6
    &.card-6 {
        .card-inner {
            background: linear-gradient(45deg, #1d7097 0%, #f8f8f8 45%, #e07f00 85%) !important;

            .card-illustration img {
                height: 500px;
                position: absolute;
                top: -25px;
                right: -106px;
            }
        }
    }

    // ARTICUNO - 144
    &.card-144 {
        .card-inner {
            background: linear-gradient(45deg, #0b67df, #adf3fc) !important;

            .card-illustration img {
                height: 550px;
                position: absolute;
                top: -72px;
                right: -207px;
            }
        }
    }

    // ZAPDOS - 145
    &.card-145 {
        .card-inner {
            background: radial-gradient(#ed8100 0%, #f8d030 70%, #eba629 100%) !important;

            .card-illustration img {
                height: 550px;
                position: absolute;
                top: -75px;
                right: -151px;
            }
        }
    }

    // MOLTRESS - 146
    &.card-146 {
        .card-inner {
            background: linear-gradient(45deg, #df0b0b, #fdcf58) !important;

            .card-illustration img {
                height: 600px;
                position: absolute;
                transform: rotate(315deg);
                top: -70px;
                right: -65px;
            }
        }
    }

    // DRAGONITE - 149
    &.card-149 {
        .card-inner {
            background: linear-gradient(45deg, #be9744 0%, #f8f8f8 45%, #03389b 85%) !important;

            .card-illustration img {
                height: 450px;
                position: absolute;
                top: 0px;
                right: -100px;
            }
        }
    }

    // MEWTWO - 150
    &.card-150 {
        .card-inner {
            background: linear-gradient(45deg, #7544be 0%, #f8f8f8 45%, #61598d 65%) !important;

            .card-illustration img {
                height: 450px;
                position: absolute;
                top: 11px;
                right: -60px;
            }
        }
    }

    // MEW - 151
    &.card-151 {
        .card-inner {
            background: linear-gradient(315deg, #7544be 0%, #f8f8f8 45%, #61598d 65%) !important;

            .card-illustration img {
                height: 450px;
                position: absolute;
                top: 11px;
                right: -60px;
            }
        }
    }
}