@import "./vars.less";
@import "./mixins.less";
@import "./animations.less";

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: @main-font-family;
    overflow: hidden;
}

main {
    height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.opening-container {
    margin: 30px;
    position: relative;

    .booster-container {
        position: relative;
        z-index: 2;
        width: @booster-container-width;
        border-radius: 5px;
        display: flex;
        flex-direction: column;

        .top-border,
        .bottom-border {
            background-color: @default-booster-color;
        }

        .cut-container {
            display: flex;
            flex-direction: column;
            box-shadow: @main-box-shadow;

            .cut-line {
                background-color: @cut-line-color;
                height: @cut-line-height;
                border-top: @cut-line-border;
            }
        }

        .uncutting-container {
            display: flex;
            flex-direction: column;
            height: @booster-uncutting-container-height;
            border-top: @cut-line-border;
            box-shadow: @main-box-shadow;
        }

        .top-border {
            height: @booster-top-border-height;
        }

        .center-body {
            flex: 1;
            position: relative;

            .cover {
                width: 100%;
                height: 100%;
                pointer-events: none;
                //TODO METTRE IMAGE DE BASE background: url('') no-repeat center / cover;
            }
        }

        .shadow {
            position: absolute;
            width: 100%;
            height: 100%;
            box-shadow: @booster-cover-box-shadow;
            top: 0;
            left: 0;
        }

        .bottom-border {
            height: @booster-bottom-border-height;
        }

        // Booster Shrek
        &.shrek {

            .top-border,
            .bottom-border {
                background-color: @shrek-booster-color;
            }

            .cover {
                background: url('../img/shrek.webp') no-repeat center / cover;
            }
        }
    }

    .cards-container {
        position: absolute;
        z-index: 1;
        top: @card-container-absolute-top-position;

        .card {
            position: absolute;
            display: flex;
            flex-direction: column;
            height: 430px;
            width: 276px;
            border-radius: 15px;
            border: @card-border;
            background-color: @card-default-background-color;
            box-shadow: @card-box-shadow;

            .card-header {
                padding-inline: 10px;

                .card-name {
                    font-weight: bold;
                    padding-top: 2px;
                }
            }

            .card-illustration {
                margin: 5px 10px;
                border: @card-illustration-border;
                background-color: @card-illustration-background-color;
                height: @card-illustration-height;
                display: flex;
                justify-content: center;
            }

            .card-illustration img {
                height: 100%;
            }

            .card-body {
                margin: 10px;
            }

            &.clicked {
                transition: 0.2s;
                transform: translateX(100vw);
            }

            &.type-normal {
                .card-background(@card-background-type-normal-primary, @card-background-type-normal-secondary);
            }

            &.type-fire {
                .card-background(@card-background-type-fire-primary, @card-background-type-fire-secondary);
            }

            &.type-water {
                .card-background(@card-background-type-water-primary, @card-background-type-water-secondary);
            }

            &.type-grass {
                .card-background(@card-background-type-grass-primary, @card-background-type-grass-secondary);
            }

            &.type-electric {
                .card-background(@card-background-type-electric-primary, @card-background-type-electric-secondary);
            }

            &.type-ice {
                .card-background(@card-background-type-ice-primary, @card-background-type-ice-secondary);
            }

            &.type-fighting {
                .card-background(@card-background-type-fighting-primary, @card-background-type-fighting-secondary);
            }

            &.type-poison {
                .card-background(@card-background-type-poison-primary, @card-background-type-poison-secondary);
            }

            &.type-ground {
                .card-background(@card-background-type-ground-primary, @card-background-type-ground-secondary);
            }

            &.type-flying {
                .card-background(@card-background-type-flying-primary, @card-background-type-flying-secondary);
            }

            &.type-psychic {
                .card-background(@card-background-type-psychic-primary, @card-background-type-psychic-secondary);
            }

            &.type-bug {
                .card-background(@card-background-type-bug-primary, @card-background-type-bug-secondary);
            }

            &.type-rock {
                .card-background(@card-background-type-rock-primary, @card-background-type-rock-secondary);
            }

            &.type-ghost {
                .card-background(@card-background-type-ghost-primary, @card-background-type-ghost-secondary);
            }

            &.type-dragon {
                .card-background(@card-background-type-dragon-primary, @card-background-type-dragon-secondary);
            }

            &.type-dark {
                .card-background(@card-background-type-dark-primary, @card-background-type-dark-secondary);
            }

            &.type-steel {
                .card-background(@card-background-type-steel-primary, @card-background-type-steel-secondary);
            }

            &.type-fairy {
                .card-background(@card-background-type-fairy-primary, @card-background-type-fairy-secondary);
            }
        }
    }

    .booster-container.cutted {
        animation: throw-booster 1s ease-in-out forwards 1s;

        .cut-container {
            animation: throw-to-top-right 1s ease-in-out forwards;
        }
    }
}

img::selection {
    background: transparent;
}